body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 20px;
}

.upload, .post {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

textarea, input {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
}

iframe {
  width: 100%;
  height: 250px;
  margin-top: 10px;
}

.comment {
  margin-top: 5px;
  font-size: 14px;
}

